.Chats {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: gray;
}
.topBar {
  width: 600px;
  /* height: 60px; */
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.topBar div {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
}
.container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user:hover{
background-color: rgba(128, 128, 128, 0.4);
}
.notification{
  font-size: 17px;
  font-weight: 600;
  padding: 3px 8px;
  margin-right: 5px;
  color: white;
  background-color: rgba(0, 153, 255, 0.856);
  border-radius: 5px;

}
@media (max-width: 550px) {
  .Chats {
    margin-top: 56px;
  }
}
@media (max-width: 950px) {
  .Chats,
  .topBar {
    width: 550px;
  }
}
@media (max-width: 650px) {
  .Chats,
  .topBar {
    width: 450px;
  }
}
@media (max-width: 450px) {
  .topBar {
    width: 100%;
  }
}
