.profile{
    width: 600px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    color: gray;
}
.user{
    display: flex;
    align-items: center;
    gap: 20px;
}
.image{
    width: 100px;
    height: 100px;
}
.img{
    width: 100px;
    height: 100px;  
    border-radius: 50%;
}
.background{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../assets/images.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.changeImg{
    min-width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    clip-path: inset(70% 0 0 0);
    background-color: rgb(0, 0, 0,.7);
    border-radius: 50%;
    font-size:25px;
}
.friendsAndPosts{
    display: flex;
    gap: 10px;
}

.PostsAndLiked{
    display: flex;
    justify-content: space-evenly;
    align-items: bottom;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}
.PostsAndLiked div{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    cursor: pointer;
}
@media (max-width:550px) {
    .profile{
    margin-top: 56px;

    }
}
@media (max-width:950px) {
    .profile{
        width: 550px;
    }
}
@media (max-width:650px) {
    .profile{
        width: 450px;
    }
}