.logoAndMore {
  padding: 8px 20px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100vw;
  /* font-family: "Lobster", cursive; */
}
.logo {
  color: gray;
  font-size: 30px;
  font-family: "Lobster", cursive;
}
.link{  
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;  
  gap: 15px;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  text-decoration: none;
  color: gray;
}
@media (min-width: 550px) {
  .logoAndMore {
    display: none;
  }
}
@media (max-width: 550px) {
  .logoAndMore {
    font-size: 35px;
    font-size: 30px;
  }
}
